.mainhead {
    margin-bottom: 0px;
    border: 5px;
    border-style: ridge;
    color: brown;
    background-color: cadetblue;
    text-align: center;
    padding: 15px;
    margin-top: 0px;
  }

  .text1{
     color: darkblue;
     font-size: 30px;
     font-style: oblique;
     font-stretch: expanded;
  }

  .titlebar {
    margin-bottom: 0px;
    border: 5px;
    border-style: ridge;
    color: brown;
    background-color: cornflowerblue;
    text-align: left;
    padding: 15px;
    margin-top: 0px;
    
  }

  a {
      margin-right: 10px;
      color: floralwhite;

}

  .navbar {
    background-color: darkolivegreen;
    padding:15px;
    margin-bottom:0px;
    text-align: right;
    font-size: 20px;
  }
  .image{
    float: left;
    height: 130px;
  }
  .form-group{
    margin-bottom: 10px;
    margin-top:30px; 
  }

  .labelClass{
    border-style: initial;
    font-size: 20px;
    width: 40px;
    margin-left: 500px;
    background-size: 40px;
  }

  .form-control{
    margin-left: 70px;
    font-size: 20px;
    margin-left: 100px;
    vertical-align: 10px;
  }
  .form-control{
    display: inline-block;
		text-align: left;
    float: right;
    margin-right: 500px;
  }

  .form-button{
    margin-left: 250px;
    text-align: center;
    font-size: 50px;
  }

  .router-link{
    background-color: darkgoldenrod;
    font-size: 20px;
  }

  .sngc
  {
     height: 700px;
  }

  .invalid-feedback{
    color: red;
    margin-left: 500px;
  }
  
  .subtitle {
    color: #48a942;
    font-size: 47px;
    line-height: 50px;
    display: inline-block;
    padding-right: 12px;
}

.subtitle1 {
  color: #48a942;
  font-size: 27px;
  line-height: 50px;
}

.heading{
  font-style: oblique;
}

.text2{
  color: brown;
}

.leftdiv{
  float: left;
  border: 2px;
  border-style: dotted;
  width: 500px;
  height: 500px;
  margin-left: 100px;
}

.leftdiv1{
  float: left;
  border: 2px;
  border-style: dotted;
  width: 500px;
  margin-left: 100px;
}

.centerdiv{
  float: inherit;
  border: 2px;
  border-style: dotted;
  width: 500px;
  height: 500px;
  margin-left: 100px;
}

.rightdiv{
  float: right;
  border: 2px;
  border-style: dotted;
  width: 500px;
  height: 500px;
  margin-right: 100px;
}

.contactform{
  margin-left: 50px;
  display: inline-block;
		text-align: right;
    float: left;
    margin-top:25px;
    margin-top:20px;
   
}

.textbox{
  float: right;
margin-right: 100px;
height: 15px;
width: 200px;
padding: 10px;
}

.aboutUsParagraph{
  text-align: justify;
}